__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
.dist/
.build/
.venv/
.env/
.env.*
.python-version
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Docker
*.log
